<div class="widget widget-table action-table">
	<div class="widget-header">
		<i class="icon-th-list"></i>
		<h3>All Users</h3>
	</div> <!-- /widget-header -->
		
	<div class="widget-content">
		<table class="table table-striped table-bordered">
			<thead>
				<tr>
					<th>First Name</th>
					<th>Last Name</th>
					<th>Email</th>
					<th>State</th>
					<th>Role</th>
					<th class="td-actions">Action</th>
				</tr>
			</thead>
			<tbody>
        <% @users.each do |user| %>
				  <tr>
				    <td><%= user.first_name %></td>
			      <td><%= user.last_name %></td>
			      <td><%= user.email %></td>
			      <td><%= user.state %></td>
			      <td><%= user.role %></td>
					  <td class="td-actions">
						  <%= link_to "Edit", edit_user_path(user), :class => 'btn btn-mini' %>
			        <%= link_to 'Destroy', user, confirm: 'Are you sure?', method: :delete, :class => 'btn btn-mini btn-danger' %>
					  </td>
				  </tr>
				<% end %>
      </tbody>
    </table>
    
    <div class="form-actions">
      <%= link_to "Add New User", new_user_path, :class => 'btn btn-primary' %>
    </div>
	</div> <!-- /widget-content -->
</div> <!-- /widget -->
