<%= simple_form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
  <div class="account-container">
	  <div class="content clearfix">
	    <h1>Sign In</h1>
	    
      <div class="login-fields">
        <p>Sign in using your registered account:</p>
        
        <div class="field">
          <%= f.input :username, :placeholder => 'username', :required => false, :autofocus => true, :input_html => { :class => 'login username-field' } %>
        </div> <!-- /field -->
        
        <div class="field">
          <%= f.input :password, :placeholder => 'password', :required => false, :input_html => { :class => 'login password-field' } %>
        </div> <!-- /field -->
      </div> <!-- /login-fields -->
      
      <div class="login-actions">
        <span class="login-checkbox">
          <%= f.input :remember_me, :as => :boolean if devise_mapping.rememberable? %>
				</span>
        <%= f.button :submit, "Sign in", :class => 'button btn btn-warning btn-large' %>
      </div> <!-- .actions -->
      <%= link_to 'Forget your password?', new_user_password_path %>
    </div> <!-- /content -->
  </div> <!-- /account-container -->
<% end %>
