<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>OnTarget.my</title>
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    
    <meta name="google-site-verification" content="dM2CFhDUiRj3IzUHGqR_xhLZE09jX8bRGkkZw5geu_M" />
    
    <%= stylesheet_link_tag "application", :media => "all" %>
    
<!--    <link href="./css/bootstrap.min.css" rel="stylesheet">-->
<!--    <link href="./css/bootstrap-responsive.min.css" rel="stylesheet">-->
    
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,400,600" rel="stylesheet">
<!--    <link href="./css/font-awesome.css" rel="stylesheet">-->
<!--    -->
<!--    <link href="./css/base-admin.css" rel="stylesheet">-->
<!--    <link href="./css/base-admin-responsive.css" rel="stylesheet">-->
<!--    -->
<!--    <link href="./css/pages/dashboard.css" rel="stylesheet">  -->

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <%= render 'layouts/navigation' %><br>
    
    <div class="main">
	    <div class="main-inner">
        <div class="container">
          <%= render 'layouts/messages' %>
          <%= yield %>
        </div><!--/container-->
      </div> <!-- /main-inner -->
    </div> <!-- /main -->
    
    <% if user_signed_in? %>
    <% else %>
      <%= render 'layouts/bottom' %>
    <% end %>
    
    <%= render 'layouts/footer' %>
    
    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <%= javascript_include_tag "application" %>

  </body>
</html>
